{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Validate your identity" %}{% endblock %}

{% block content %}
<h1>Validate your identity</h1>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Login' %}" />
</form>

<p>
  <a href="{% url 'auth_password_reset' %}">{% trans "Forgot your password?" %}</a> -
  <a href="{% url 'auth' %}">Log in with a different email</a>
</p>

{% endblock %}
