{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}SSO Authentication{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block css %}
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  {% endblock %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <header>
    {% if view.request.user.is_authenticated %}
      <a href="{% url 'auth_logout' %}">Logout</a>
    {% endif %}
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
