{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}SSO Authentication{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block css %}
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  {% endblock %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
{% with view.request.user as user %}
  <header>
    <nav>
    {% if user.is_authenticated %}
      <a href="{% url 'register_profile' %}">My account</a>
      <a href="{% url 'auth_logout' %}">Logout</a>
    {% else %}
      <a href="{% url 'registration_register' %}">Join</a>
      <a href="{% url 'auth_login' %}">Login</a>
    {% endif %}
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>
{% endwith %}
</body>
</html>
